@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="article-section">
    <div class="container">
        <h4 class="title">Article & News</h4>
        <h1>Get Every Single Articles & News</h1>
        <a class="btn-white">Brows Article <i class="fa-regular fa-arrow-up-right"></i></a>
        <div class="articles">

            <div class="article-card">
                <img src="images/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                <p class="category">Business</p>
                <h4 class="article-title">How To Use Digitalization In The Classroom</h4>
                <p class="article-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <p class="date">25 <br> Mar</p>
            </div>

            <div class="article-card">
                <img src="images/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" alt="">
                <p class="category">Business</p>
                <h4 class="article-title">How To Use Digitalization In The Classroom</h4>
                <p class="article-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <p class="date">25 <br> Mar</p>
            </div>

            <div class="article-card">
                <img src="images/kobu-agency-ipARHaxETRk-unsplash.jpg" alt="">
                <p class="category">Business</p>
                <h4 class="article-title">How To Use Digitalization In The Classroom</h4>
                <p class="article-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                <p class="date">25 <br> Mar</p>
            </div>

        </div>
    </div>
</section>