@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="footer-section">
    <div class="container">
        <div class="info-column">
            <div class="logo-column">
                <img src="~/static/logotypes/logotype-white.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <div class="links-column">
                <h4>Company</h4>
                <a href="/about" >About</a>
                <a href="/features" >Features</a>
                <a href="/work" >Works</a>
                <a href="/career" >Career</a>
            </div>
            <div class="links-column">
                <h4>Help</h4>
                <a href="/support" >Customer Support</a>
                <a href="/delivery" >Delivery Details</a>
                <a href="/agreements/terms" >Teams & Conditions</a>
                <a href="/agreements/privacy" >Privacy Policy</a>
            </div>
            <div class="links-column">
                <h4>Resources</h4>
                <a href="/free/ebook" >Free eBooks</a>
                <a href="/tutorials/development" >Development Tutorial</a>
                <a href="/guides/how-to-blog" >How to - Blog</a>
                <a href="https://youtube.com" target="_blank" >Youtube Playlist</a>
            </div>
            <div class="links-column">
                <h4>Link</h4>
                <a href="/free/ebook" >Free eBooks</a>
                <a href="/tutorials/development" >Development Tutorial</a>
                <a href="/guides/how-to-blog" >How to - Blog</a>
                <a href="https://youtube.com" target="_blank" >Youtube Playlist</a>
            </div>
        </div>
        <div class="rights">
            <p>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
            <div class="social-media">
                <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>