@using Crito.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var contactForm = new ContactForm();
}

<section class="form-section">
    <div class="container">
        <h1 class="form-title">Leave us a message<br> for any information</h1>

        @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post))
        {
            <div asp-validation-summary="All"></div>

            <div class="input-div">
                <input asp-for="@contactForm.Name" type="text" placeholder="Name*">
            </div>
            <div class="input-div">
                <input asp-for="@contactForm.Email" type="email" placeholder="Email*">
            </div>
            <div class="input-div">
                <input asp-for="@contactForm.Message" class="text" type="text" placeholder="Your Message*">
            </div>
            <button type="submit" class="btn-theme">Send Message <i class="fa-regular fa-arrow-up-right"></i></button>
        }

    </div>
</section>