@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="form-section">
    <div class="container">
        <h1 class="form-title">Leave us a message<br> for any information</h1>
        <input class="name" type="text" placeholder="Name*">
        <input class="email" type="email" placeholder="Email*">
        <input class="text" type="text" placeholder="Your Message*">
        <button class="btn-theme" type="submit">Send Message <i class="fa-regular fa-arrow-up-right"></i></button>
    </div>
</section>