@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="subscribe-section">
    <div class="container">
        <h1 class="title">Get News Updates By Signup</h1>
        <div class="subsbribe">
            <input class="subscribe-input" type="text" placeholder="username@domain.com">
            <a class="btn-theme">Subscribe <i class="fa-regular fa-arrow-up-right"></i></a>
        </div>
    </div>     
</section>