@using Crito.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var newsletterForm = new NewsletterForm();
}

<section class="subscribe-section">
    <div class="container">
        <h1 class="title">Get News Updates By Signup</h1>        

            <div class="subscribe">
                @using (Html.BeginUmbracoForm("Index", "Subscribe", FormMethod.Post))
                {
                    <div asp-validation-summary="All"></div>

                   @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                    }

                    @if (TempData["RestoreScrollPosition"] != null && (bool)TempData["RestoreScrollPosition"])
                    {
                        <script>
                            restoreScrollPosition();
                        </script>
                        TempData["RestoreScrollPosition"] = false;
                    }

                    <input id="emailInput" name="email" asp-for="@newsletterForm.Email" class="subscribe-input" type="email" placeholder="username@domain.com" required>
                    <span id="emailInput-error" class="error"></span>
                    <button type="submit" class="btn-theme">Subscribe <i class="fa-regular fa-arrow-up-right"></i></button>    
                
                }
            </div>        
            
    </div>     
</section>